@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');



body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.title{
  text-align: left;
  margin-left: 120px;
  font-size: 40px;
}

.subtitle{
  text-align: left;
  margin-left: 120px;
  font-size: 24px;
}

.B2-grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows:auto auto auto auto;
  text-align: left;
  margin-left: 120px;
  margin-right: 120px;
  column-gap: 50px;
  row-gap: 50px;
}

.B3-grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows:auto auto;
  margin-left: 120px;
  margin-right: 120px;
  column-gap: 50px;
  row-gap: 50px;
}

.B6-grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows:auto auto auto auto auto;
  margin-left: 120px;
  margin-right: 120px;
  column-gap: 50px;
  row-gap: 25px;
}

.question {
  grid-column: 1
}

.radio-options{
  grid-column: 2;
  text-align: right;
  margin-right: 10px;
  grid-column: 2;
  position: relative;
  top: 50px;
}

.radio-buttons{
  grid-column: 2;
  position: relative;
  top: 50px;
}

.btn {
  background-color: white; 
  color: black;
  text-align: center;
  font-weight: bold;
  display: inline-block;
  font-size: 19px;
  border: 2px solid #000000;
  border-radius: 40px;
  width: 126px;
  height: 64px;
  position: absolute;
  top: 600px;
  left: 500px;
}
