/*main*/

h3 {

    position: absolute;
    width: 568px;
    height: 48px;
    left: 120px;
    top: 100px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 120%;
/* identical to box height, or 48px */


color: #000000;
}

h2 {

    position: absolute;
    width: 900px;
    height: 31px;
    left: 120px;
    top: 168px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
/* or 31px */


color: #000000;

}

button {

    /* Frame 3 */


box-sizing: border-box;

/* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 20px 40px;
    gap: 10px;

    position: absolute;
    width: 241px;
    height: 64px;
    left: 842px;
    top: 657px;

    border: 2px solid #000000;
    border-radius: 40px;
}

.display-linebreak {
    white-space: pre-line;
  }

  /*intro*/

  .intro-text1{

    position: absolute;
    width: 420px;
    height: 46px;
    left: 427px;
    top: 452px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
/* or 23px */

    color: #000000;

}

.intro-text2{
    position: absolute;
    width: 308px;
    height: 69px;
    left: 427px;
    top: 558px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
/* or 23px */


    color: #000000;

}

.intro-text3{
    position: absolute;
    width: 283px;
    height: 46px;
    left: 838px;
    top: 558px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
/* or 23px */


    color: #000000;
}

.intro-button1{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 20px 40px;
    gap: 10px;

    position: absolute;
    width: 279px;
    height: 64px;
    left: 427px;
    top: 657px;

    border: 2px solid #000000;
    border-radius: 40px;
}

.intro-button2{
    box-sizing: border-box;

/* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 20px 40px;
    gap: 10px;

    position: absolute;
    width: 241px;
    height: 64px;
    left: 842px;
    top: 657px;

    border: 2px solid #000000;
    border-radius: 40px;
}